<div class="kanji-page">
  Kanji details here.

  <div class="row-fluid">
    <div class="span3">
      <div class="big-character">{{character}}</div>
    </div>
    <div class="span8">details</div>
  </div>

</div>
