<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10 search-bar-container">
    {{! search bar view here }}
  </div>
  <div class="span1"></div>
</div>

<hr>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10 search-results-container">
    {{! search results view here}}
  </div>
  <div class="span1"></div>
</div>
