<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10 search-bar">
    {{! search bar view here }}
  </div>
  <div class="span1"></div>
</div>

<hr>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10 search-results">
    {{! search results view here}}
  </div>
  <div class="span1"></div>
</div>
