<div class="search-bar">
  <form class="form-search kanji-search-form">
    <input type="text" class="kanji-search-input input-xlarge search-query" placeholder="search for kanji" value="{{query.searchTerm}}">
    <button type="submit" class="btn btn-large">Search</button>
  </form>
</div>
