<div>
  <form class="form-search kanji-search-form">
    <input type="text" class="kanji-search-input" class="input-xlarge search-query" value="カン">
    <button type="submit" class="btn btn-large">Search</button>
  </form>
</div>
