<div class="row-fluid">
  <div class="span1"></div>
  <div class="span4 search-bar-container">
    {{! search bar view here }}
  </div>
  <div class="span4">
    <p>Type hiragana to search by Kun Yomi.</p>
    <p>Type katakana to search by On Yomi.</p>
  </div>
  <div class="span1"></div>
</div>

<hr>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10 search-results-container">
    {{! search results view here}}
  </div>
  <div class="span1"></div>
</div>
