<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10">
    <form class="form-search">
      <input type="text" id="kanji-search-input" class="input-xlarge search-query">
      <button type="submit" class="btn btn-large">Search</button>
    </form>
  </div>
  <div class="span1"></div>
</div>



<hr>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10">
    <a class="kanji">観</a>
    <a class="kanji">感</a>
    <a class="kanji">管</a>
    <a class="kanji">漢</a>
    <a class="kanji">缶</a>
  </div>
  <div class="span1"></div>
</div>
