@import "../base.less";

// view specific css here
#search-page {
  #kanji-search-input {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 120%;
  }

  .search-instructions {
    display: inline-block;
  }
}

.kanji, .stroke-counter {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  margin: 4px;
}

.stroke-counter {
  background-color: @grayLight;
  color: @grayLighter;
  font-size: 1.5em;
  line-height: 2em;
  border-radius: 20px;
}

.kanji {
  background-color: @grayLighter;
  color: @black;
  font-size: 2em;
  line-height: 1.5em;
  border-radius: 4px;
}
.kanji:hover {
  color: @gray;
}
